<%= form_with(model: data_clean_task, local: true) do |form| %>
  <% if data_clean_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_clean_task.errors.count, "error") %> prohibited this data_clean_task from being saved:</h2>

      <ul>
      <% data_clean_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :task_id %>
    <%= form.number_field :task_id %>
  </div>

  <div class="field">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
